[package]
name = "libp2p-relay-manager"
version = "0.3.1"
edition = "2021"
license = "Apache-2.0 OR MIT"
description = "(WIP) Implementation of a relay-manager"
repository = "https://github.com/dariusc93/rust-ipfs"
readme = "README.md"
keywords = ["libp2p", "p2p", "networking"]
authors = ["Darius Clark"]
exclude = [".gitignore"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libp2p = { workspace = true, features = ["relay"] }
anyhow = "1.0"
futures = "0.3"

rand = "0.8"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
futures-timer = { version = "3.0" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { workspace = true, features = ["js"] }
futures-timer = { version = "3.0", features = ["wasm-bindgen"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
libp2p = { workspace = true, features = ["full"] }
tokio = { workspace = true, features = ["full"] }
clap = { version = "4.5", features = ["derive"] }
env_logger = "0.11"