[package]
name = "libp2p-relay-manager"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0 OR MIT"
description = "(WIP) Implementation of a relay-manager"
repository = "https://github.com/dariusc93/rust-ipfs"
readme = "README.md"
keywords = ["libp2p", "p2p", "networking"]
authors = ["Darius Clark"]
exclude = [".gitignore"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libp2p = { workspace = true, features = ["relay"] }
thiserror = "1.0"
anyhow = "1.0"
futures = "0.3"
futures-timer = "3.0"
log = "0.4"
void = "1.0"
rand = "0.8"

[dev-dependencies]
libp2p = { version = "0.52", features = ["full"] }
async-std = { version = "1", features = ["attributes"] }
clap = { version = "4.0", features = ["derive"] }
env_logger = "0.10"